body {
    margin: 0;
    background: #000;
    overflow: hidden;
}

canvas{
    display: block;
    width: 100%;
    height: 100%;
}

.message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Segoe UI';
    font-size: 4vw;
    /* scales with screen */
    font-weight: bold;
    color: #fff;
    text-shadow:
        0 0 10px #ff4d4d,
        0 0 20px #ffd24d,
        0 0 40px #4da6ff,
        0 0 80px #ff66cc;
    animation: glow 2s ease-in-out infinite alternate;
    pointer-events: none;
}

@keyframes glow {
    from{
        text-shadow: 
        0 0 10px #ff4d4d, 
        0 0 20px #ffd24d;
    }

    to{
        text-shadow: 
        0 0 20px #4da6ff, 
        0 0 40px #ff66cc, 
        0 0 80px #ffd24d;
    }
}